<!DOCTYPE html>
<html lang="jp">
  <head>
    <title>SQLドリル</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://www.w3schools.com/lib/codemirror.css"
    />
    <script src="https://www.w3schools.com/lib/codemirror.js"></script>
    <script src="https://www.w3schools.com/lib/codemirror_sql.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="/">SQLドリル</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <%# <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul> %>
      </div>
    </nav>

    <div class="container-fluid" style="margin-top:30px">
      <div class="row">
          <ul>
            <li><a href="/problem/0001">SQL 練習問題 – 問1</a></li>
            <li><a href="/problem/0002">SQL 練習問題 – 問2</a></li>
          </ul>
      </div>
    </div>
  </body>
</html>
