<!DOCTYPE html>
<html lang="jp">
  <head>
    <title>SQLドリル</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://www.w3schools.com/lib/codemirror.css"
    />
    <script src="https://www.w3schools.com/lib/codemirror.js"></script>
    <script src="https://www.w3schools.com/lib/codemirror_sql.js"></script>

    <script>
      $(function() {
        function colorcoding() {
          const ua = navigator.userAgent;
          if (ua && ua.toUpperCase().indexOf("OPERA MINI") > -1) {
            return false;
          }
          window.editor = CodeMirror.fromTextArea(
            document.getElementById("textareaCodeSQL"),
            {
              mode: "text/x-sql",
              htmlMode: true,
              ineNumbers: true,
              lineWrapping: true,
              smartIndent: false,
              addModeClass: true
            }
          );
          window.editor.setSize("100%", "100%");
        }
        colorcoding();
      });
    </script>
    <style>
      h2 {
        font-size: 160%;
      }
      #problem {
        padding: 15px;
        margin-left: -50px;
        margin-right: 30px;
        background-color: #f1f1f1;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
      #tryit {
        padding: 15px;
        background-color: #f1f1f1;
        margin-left: -10px;
        margin-right: 10px;
      }
      #tryitresult {
        padding: 10px;
        margin-top: 20px;
        background-color: white;
      }
      #tryitresult table {
        font-size: 70%;
      }
      #problem-tables table {
        font-size: 70%;
      }
      #problem-example table {
        font-size: 70%;
      }
      #textareaCodeSQL {
        font-size: 15px;
        font-family: Consolas, "courier new";
        height: 140px;
        width: 100%;
        border: 1px solid #d3d3d3;
        resize: none;
      }
      .card {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">SQLドリル</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-6">
          <div class="card card-body">
            <h2 id="問題">Problem</h2>
            <p>
              引用:
              <a
                href="https://tech.pjin.jp/blog/2016/04/30/sql%E7%B7%B4%E7%BF%92%E5%95%8F%E9%A1%8C-%E5%95%8F1/"
                >Tech Pjin - SQL 練習問題 – 問 1</a
              >
            </p>
            <p>
              各グループの中で FIFA
              ランクが最も高い国と低い国のランキング番号を表示してください。
              なお、グループはアルファベット順にソートしなさい。
            </p>
          </div>

          <div class="card card-body" id="problem-tables">
            <h2 id="テーブル">Tables</h2>
            <p>Countries</p>
            <table class="table table-striped">
              <tr>
                <th>
                  カラム名
                </th>
                <th>
                  カラム名(JP)
                </th>
                <th>
                  データ型
                </th>
                <th>
                  NOT NULL
                </th>
                <th>
                  その他
                </th>
              </tr>
              <tr>
                <td>
                  ID
                </td>
                <td>
                  ID
                </td>
                <td>
                  INTEGER
                </td>
                <td>
                  ◯
                </td>
                <td>
                  auto_increment
                </td>
              </tr>
              <tr>
                <td>
                  NAME
                </td>
                <td>
                  国名
                </td>
                <td>
                  VARCHAR(50)
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  RANKING
                </td>
                <td>
                  FIFA ランキング
                </td>
                <td>
                  INTEGER
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  GRUP_NAME
                </td>
                <td>
                  グループ
                </td>
                <td>
                  VARCHAR(1)
                </td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>

          <div class="card card-body" id="problem-example">
            <h2 id="解答サンプル">Examples:</h2>
            <table class="table table-striped">
              <tr>
                html
                <th>
                  グループ
                </th>
                <th>
                  ランキング最上位
                </th>
                <th>
                  ランキング最下位
                </th>
              </tr>
              <tr>
                <td>
                  A
                </td>
                <td>
                  3
                </td>
                <td>
                  56
                </td>
              </tr>
              <tr>
                <td>
                  B
                </td>
                <td>
                  1
                </td>
                <td>
                  62
                </td>
              </tr>
              <tr>
                <td>
                  C
                </td>
                <td>
                  8
                </td>
                <td>
                  46
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-sm-6 card card-body" id="tryit">
          <div id="tryitform">
            <form method="post" target="view" name="tryitform">
              <h2>SQL Statement:</h2>
              <textarea id="textareaCodeSQL" wrap="logical">
SELECT * FROM Customers
WHERE City IN ('Paris','London');
        </textarea
              >
              <p>SQLを入力して"Run SQL"ボタンを押してください。</p>
            </form>
            <button class="btn btn-success" type="button">
              Run SQL &raquo;
            </button>
          </div>
          <div id="tryitresult">
            <h2>Result:</h2>
            <div style="padding:10px;">
              <div style="margin-bottom:10px;">Number of Records: 8</div>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>CustomerID</th>
                    <th>CustomerName</th>
                    <th>ContactName</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>PostalCode</th>
                    <th>Country</th>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Around the Horn</td>
                    <td>Thomas Hardy</td>
                    <td>120 Hanover Sq.</td>
                    <td>London</td>
                    <td>WA1 1DP</td>
                    <td>UK</td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>B's Beverages</td>
                    <td>Victoria Ashworth</td>
                    <td>Fauntleroy Circus</td>
                    <td>London</td>
                    <td>EC2 5NT</td>
                    <td>UK</td>
                  </tr>
                  <tr>
                    <td>16</td>
                    <td>Consolidated Holdings</td>
                    <td>Elizabeth Brown</td>
                    <td>Berkeley Gardens 12 Brewery</td>
                    <td>London</td>
                    <td>WX1 6LT</td>
                    <td>UK</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>Eastern Connection</td>
                    <td>Ann Devon</td>
                    <td>35 King George</td>
                    <td>London</td>
                    <td>WX3 6FW</td>
                    <td>UK</td>
                  </tr>
                  <tr>
                    <td>53</td>
                    <td>North/South</td>
                    <td>Simon Crowther</td>
                    <td>South House 300 Queensbridge</td>
                    <td>London</td>
                    <td>SW7 1RZ</td>
                    <td>UK</td>
                  </tr>
                  <tr>
                    <td>57</td>
                    <td>Paris spécialités</td>
                    <td>Marie Bertrand</td>
                    <td>265, boulevard Charonne</td>
                    <td>Paris</td>
                    <td>75012</td>
                    <td>France</td>
                  </tr>
                  <tr>
                    <td>72</td>
                    <td>Seven Seas Imports</td>
                    <td>Hari Kumar</td>
                    <td>90 Wadhurst Rd.</td>
                    <td>London</td>
                    <td>OX15 4NB</td>
                    <td>UK</td>
                  </tr>
                  <tr>
                    <td>74</td>
                    <td>Spécialités du monde</td>
                    <td>Dominique Perrier</td>
                    <td>25, rue Lauriston</td>
                    <td>Paris</td>
                    <td>75016</td>
                    <td>France</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron text-center" style="margin-bottom:0">
      <p>Footer</p>
    </div>
  </body>
</html>
